html {
  font-family: Georgia, serif;
  color: #fff;
}

.absolute {
  position: absolute;
}

.magic {
  max-height: 500px;
  width: 100%;
}

.footnotes {
  position: relative;
  background-color: #495562;
}

.btn {
  color: #fff;
  padding: .2em .5em;
}
